<!-- <app-navbarinto></app-navbarinto> -->

<div class="row justify-content-center without-borders">

    <app-submenu [page]="'users'"></app-submenu>

    <div class="col-lg-12 col-md-12 col-sm-12">

        <div class="container pl-1 pr-1 pt-4 pb-1 text-center" *ngIf="action==='list'">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="process-tab" data-toggle="tab" href="#process" role="tab" aria-controls="admins" aria-selected="false">En espera</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="active-tab" data-toggle="tab" href="#active" role="tab" aria-controls="seller" aria-selected="false">Confirmadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="inactive-tab" data-toggle="tab" href="#inactive" role="tab" aria-controls="seller" aria-selected="false">Canceladas</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="process" role="tabpanel" aria-labelledby="admins-tab">
                    <div class="mt-2 d-flex justify-content-between align-items-center">
                        <div class="">
                            <h3>Citas en espera ({{listQuotesProcess.length}})</h3>
                        </div>
                        <div class="col-lg-0 text-start">
                            <p class="btn btn-primary mt-1" (click)="action='register'"><i class="fa-solid fa-plus d-lg-none d-md-none d-sm-block"></i><span class="d-none d-lg-block d-md-block"><i class="fa-solid fa-plus"></i> Registrar cita</span></p>
                        </div>
                    </div>

                    <div *ngIf="!loading" class="bg-light p-3 border shadow table-responsive">
                        <table class="table table-hover responsive" id="listQuotesProcess" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Teléfono</th>
                                    <th>Email</th>
                                    <th>Servicio</th>
                                    <th>Fecha</th>
                                    <th>Estado</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let quote of listQuotesProcess" class="text-start">
                                    <td>{{quote.name}}</td>
                                    <td>{{quote.phone | mask: '(000) 000-0000' || 'N/A'}}</td>
                                    <td>{{quote.email || 'N/A'}}</td>
                                    <td>{{quote.service || 'N/A'}}</td>
                                    <td>{{quote.date | date:'dd/MM/yyyy' || 'N/A'}}</td>
                                    <td>
                                        <button *ngIf="quote.status=='process'" class="btn btn-info shadow text-white ml-1">En proceso</button>
                                        <button *ngIf="quote.status=='inactive'" class="btn btn-danger shadow text-white ml-1">Cancelada</button>
                                        <button *ngIf="quote.status=='active'" class="btn btn-success shadow text-white ml-1">Confirmada</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-success shadow ml-1" (click)="details=quote;status('active')"><i class="fa-solid fa-hand-point-up"></i></button>
                                        <button class="btn btn-warning shadow ml-1" (click)="details=quote;status('inactive')"><i class="fa-solid fa-x"></i></button>
                                        <button class="btn btn-danger shadow ml-1" (click)="delete(quote.id)"><i class="fa-solid fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <div *ngIf="loading" class="spinner-border text-secondary mt-5" style="width: 3rem; height: 3rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>

                </div>

                <div class="tab-pane fade show" id="active" role="tabpanel" aria-labelledby="admins-tab">
                    <div class="mt-2 d-flex justify-content-between align-items-center">
                        <div class="">
                            <h3>Citas confirmadas ({{listQuotesActive.length}})</h3>
                        </div>
                        <div class="col-lg-0 text-start">
                            <p class="btn btn-primary mt-1" (click)="action='register'"><i class="fa-solid fa-plus d-lg-none d-md-none d-sm-block"></i><span class="d-none d-lg-block d-md-block"><i class="fa-solid fa-plus"></i> Registrar cita</span></p>
                        </div>
                    </div>

                    <div *ngIf="!loading" class="bg-light p-3 border shadow table-responsive">
                        <table class="table table-hover responsive" id="listQuotesActive" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Teléfono</th>
                                    <th>Email</th>
                                    <th>Servicio</th>
                                    <th>Fecha</th>
                                    <th>Estado</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let quote of listQuotesActive" class="text-start">
                                    <td>{{quote.name}}</td>
                                    <td>{{quote.phone | mask: '(000) 000-0000' || 'N/A'}}</td>
                                    <td>{{quote.email || 'N/A'}}</td>
                                    <td>{{quote.service || 'N/A'}}</td>
                                    <td>{{quote.date | date:'dd/MM/yyyy' || 'N/A'}}</td>
                                    <td>
                                        <button *ngIf="quote.status=='process'" class="btn btn-info shadow text-white ml-1">En proceso</button>
                                        <button *ngIf="quote.status=='inactive'" class="btn btn-danger shadow text-white ml-1">Cancelada</button>
                                        <button *ngIf="quote.status=='active'" class="btn btn-success shadow text-white ml-1">Confirmada</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger shadow ml-1" (click)="delete(quote.id)"><i class="fa-solid fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-pane fade show" id="inactive" role="tabpanel" aria-labelledby="admins-tab">
                    <div class="mt-2 d-flex justify-content-between align-items-center">
                        <div class="">
                            <h3>Citas canceladas ({{listQuotesInactive.length}})</h3>
                        </div>
                        <div class="col-lg-0 text-start">
                            <p class="btn btn-primary mt-1" (click)="action='register'"><i class="fa-solid fa-plus d-lg-none d-md-none d-sm-block"></i><span class="d-none d-lg-block d-md-block"><i class="fa-solid fa-plus"></i> Registrar cita</span></p>
                        </div>
                    </div>

                    <div *ngIf="!loading" class="bg-light p-3 border shadow table-responsive">
                        <table class="table table-hover responsive" id="listQuotesInactive" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Teléfono</th>
                                    <th>Email</th>
                                    <th>Servicio</th>
                                    <th>Fecha</th>
                                    <th>Estado</th>
                                    <th>Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let quote of listQuotesInactive" class="text-start">
                                    <td>{{quote.name}}</td>
                                    <td>{{quote.phone | mask: '(000) 000-0000' || 'N/A'}}</td>
                                    <td>{{quote.email || 'N/A'}}</td>
                                    <td>{{quote.service || 'N/A'}}</td>
                                    <td>{{quote.date | date:'dd/MM/yyyy' || 'N/A'}}</td>
                                    <td>
                                        <button *ngIf="quote.status=='process'" class="btn btn-info shadow text-white ml-1">En proceso</button>
                                        <button *ngIf="quote.status=='inactive'" class="btn btn-danger shadow text-white ml-1">Cancelada</button>
                                        <button *ngIf="quote.status=='active'" class="btn btn-success shadow text-white ml-1">Confirmada</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger shadow ml-1" (click)="delete(quote.id)"><i class="fa-solid fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

        <div class="container pl-1 pr-1 pt-4 pb-1" *ngIf="action==='register'">
            <div class="row mt-2 d-flex align-items-center">
                <div class="col-10 text-start">
                    <h3>Registro de cita</h3>
                </div>
                <div class="col-2 text-end">
                    <p class="btn btn-secondary mt-1" (click)="action='list';reloadDataTable()"><span><i class="fa-solid fa-arrow-left"></i></span></p>
                </div>
            </div>
            <div class="row justify-content-around allscreen">

                <div class="col-lg-5 col-md-5 col-sm-10 text-center  d-none d-lg-block d-md-block">
                    <img src="./assets/img/add_documents.svg" alt="" width="60%">
                    <h2></h2>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 shadow text-center border-radio pt-3">
                    <div class="alert alert-success" role="alert" *ngIf="result === 'ok'">
                        Registro completado.
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="result === 'fail'">
                        No se pudo completar su registro.
                    </div>
                    <h5>Información general</h5>
                    <select class="form-control shadow mt-3" [(ngModel)]="service">
                        <option value="">Selecione un servicio</option>
                        <option *ngFor="let service of listServices"  value="{{service.name}}">{{service.name}}</option>
                    </select>
                    <input type="text" [(ngModel)]="name" class="form-control shadow mt-3" maxLength="50" placeholder="Digite un nombre">
                    <input type="text" [(ngModel)]="phone" mask="(000) 000-0000" class="form-control shadow mt-3" maxLength="50" placeholder="Digite un telefono">
                    <input type="email" [(ngModel)]="email" class="form-control shadow mt-3" maxLength="50" placeholder="Digite un email">
                    <input type="date" [(ngModel)]="date" class="form-control shadow mt-3">
                    <button *ngIf="!loading" [disabled]="name===''" class="btn btn-success btn-block btn-lg mt-3 mb-3 shadow" (click)="save()">
                        Registrar
                    </button>
                    <button *ngIf="loading" class="btn btn-success btn-block btn-lg mt-3 mb-3 shadow" (click)="save()">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Registrando...
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>


<!-- <div class="d-flex justify-content-center align-items-center text-center d-sm-block d-lg-none d-md-none" style="height:100vh;">
    <div>
        <img class="mb-3" src="./assets/img/devices.svg" width="80%" alt="">
        <h2 class="mb-3">Utilice una tableta o una pc para visualizar contenido.</h2>
        <a routerLink="/" class="btn btn-success shadow">Pagina principal</a>
    </div>
</div> -->