<!-- <app-navbarinto></app-navbarinto> -->

<div class="row justify-content-center without-borders">

    <app-submenu [page]="'users'"></app-submenu>

    <div class="col-lg-10 col-md-10 col-sm-12">

        <div class="container p-4 text-center" *ngIf="action==='list'">

            <div class="mt-2 d-flex justify-content-between align-items-center">
                <div class="">
                    <h3>Mis entidades</h3>
                </div>
                <div class="col-lg-0 text-start">
                    <p class="btn btn-primary mt-1" (click)="action='register';details=null"><i class="fa-solid fa-plus d-lg-none d-md-none d-sm-block"></i><span class="d-none d-lg-block d-md-block"><i class="fa-solid fa-plus"></i> Registrar entidad</span></p>
                </div>
            </div>

            <div *ngIf="!loading" class="">

                <div class="row justify-content-center">
                    <div class="col-12 shadow mt-2 mb-2 p-2 border" *ngFor="let entity of listEntities">
                        <div class="row justify-content-center">
                            <div class="col-lg-10 col-md-12 col-sm-12 p-2 text-start">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 col-md-6 col-sm-12 d-flex align-items-center">
                                        <div class="col-12 d-block p-2">
                                            <div><b>Nombre:</b> {{entity.name || 'N/A'}}</div>
                                            <hr>
                                            <div><b>Descripcion:</b> {{entity.description || 'N/A'}}</div>
                                            <hr>
                                            <div><b>Telefono:</b> {{entity.phone | mask: '(000) 000-0000' || 'N/A'}}</div>
                                            <hr>
                                            <div><b>Fecha:</b> {{entity.created_at | date:'dd/MM/yyyy'}}</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-12 d-flex align-items-center">
                                        <div class="d-block p-2">
                                            <a href="{{host+'/form-quotes/'+entity.id}}" target="_blank" class="btn btn-secondary shadow ml-1 mt-2"><i class="fa-solid fa-link"></i></a>
                                            <button class="btn btn-warning shadow ml-1 mt-2" (click)="details=entity" data-bs-toggle="modal" data-bs-target="#details"><i class="fa-solid fa-eye"></i></button>
                                            <button class="btn btn-info shadow ml-1 mt-2" (click)="details=entity;setUpdate();action='register'"><i class="fa-solid fa-pen-to-square"></i></button>
                                            <button class="btn btn-danger shadow ml-1 mt-2" (click)="delete(entity.id)"><i class="fa-solid fa-trash"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-5 col-sm-12 mt-2 p-4 text-center align-items-center">
                                        <qrcode [qrdata]="host+'/form-quotes/'+entity.id" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
                                    </div>
                                </div>

                                <button routerLink="/quotes/{{entity.id}}" class="btn btn-lg btn-block text-white shadow mt-2" style="background-color: #fd5237;"><b>Ver citas</b></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div *ngIf="loading" class="spinner-border text-secondary mt-5" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>

        </div>

        <div class="container p-4" *ngIf="action==='register'">
            <div class="row mt-2 d-flex align-items-center">
                <div class="col-10 text-start">
                    <h3 *ngIf="details == null">Registro de entidad</h3>
                    <h3 *ngIf="details != null">Actualizar de entidad</h3>
                </div>
                <div class="col-2 text-end">
                    <p class="btn btn-secondary mt-1" (click)="action='list';reloadDataTable()"><span><i class="fa-solid fa-arrow-left"></i></span></p>
                </div>
            </div>
            <div class="row justify-content-around allscreen">

                <div class="col-lg-5 col-md-5 col-sm-10 text-center d-none d-lg-block d-md-block">
                    <img src="./assets/img/add_documents.svg" alt="" width="60%">
                    <h2></h2>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 shadow text-center border-radio pt-3">
                    <div class="alert alert-success" role="alert" *ngIf="result === 'ok'">
                        Registro completado.
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="result === 'fail'">
                        No se pudo completar su registro.
                    </div>
                    <h5>Información general</h5>
                    <input type="text" [(ngModel)]="name" class="form-control shadow mt-3" maxLength="50" placeholder="Digite un nombre">
                    <input type="text" [(ngModel)]="description" class="form-control shadow mt-3" maxLength="50" placeholder="Digite un descripcion">
                    <input type="text" [(ngModel)]="phone" mask="(000) 000-0000" class="form-control shadow mt-3" maxLength="50" placeholder="Digite un telefono">
                    <input type="email" [(ngModel)]="email" class="form-control shadow mt-3" maxLength="50" placeholder="Digite un email">
                    <input (change)="getImage($event)" accept="image/*" type="file" class="form-control shadow mt-3">

                    <button *ngIf="!loading && details == null" [disabled]="name===''" class="btn btn-success btn-block btn-lg mt-3 mb-3 shadow" (click)="save()">
                        Registrar
                    </button>
                    <button *ngIf="!loading && details != null" [disabled]="name===''" class="btn btn-success btn-block btn-lg mt-3 mb-3 shadow" (click)="update()">
                        Actualizar
                    </button>
                    <button *ngIf="loading" class="btn btn-success btn-block btn-lg mt-3 mb-3 shadow">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Registrando...
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>


<!-- Modal of details -->
<div class="modal fade" id="details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-dark" id="exampleModalLabel"><b>Logo</b></h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start">

                <img src="{{details?.image || './assets/img/sin_foto.png'}}" alt="" width="100%">

            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="d-flex justify-content-center align-items-center text-center d-sm-block d-lg-none d-md-none" style="height:100vh;">
    <div>
        <img class="mb-3" src="./assets/img/devices.svg" width="80%" alt="">
        <h2 class="mb-3">Utilice una tableta o una pc para visualizar contenido.</h2>
        <a routerLink="/" class="btn btn-success shadow">Pagina principal</a>
    </div>
</div> -->